*.iml
.gradle
/local.properties
# Ignore all .idea directory contents
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Gradle files
.gradle/
build/
# Log Files
*.log
# Firebase config file
app/google-services.json
